#container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

path {
    stroke: white;
    stroke-width: 0.25px;
  }


.country {
    stroke: #fff;
    fill: grey;
}
.country2 {
    stroke: #fff;
    fill: grey;
}